@font-face {
    font-family: 'Robot-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

body {
    margin: 0;
    font-family: 'Roboto-Light', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 24px;
}

#card {
    width: 800px;
    height: 266px;
}

.background-kobra_4 {
    background-image: url('../backgrounds/kobra_4.png');
    color: rgb(148, 167, 75);
}

.background-intothefields {
    background-image: url('../backgrounds/intothefields.png');
    color: rgb(188, 196, 52);
}

.background-crimson_woods {
    background-image: url('../backgrounds/crimson_woods.png');
    color: rgb(108, 12, 12);
}

.background-nostalgia {
    background-image: url('../backgrounds/nostalgia.png');
    color: rgb(161, 140, 148);
}

.background-justice_2 {
    background-image: url('../backgrounds/justice_2.png');
    color: rgb(184, 81, 50);
}

.background-darkvine {
    background-image: url('../backgrounds/darkvine.png');
    color: rgb(145, 148, 177);
}

.background-offpanic {
    background-image: url('../backgrounds/offpanic.png');
    color: rgb(132, 78, 100);
}

.background-back_in_time {
    background-image: url('../backgrounds/back_in_time.png');
    color: rgb(148, 156, 161);
}

.background-heartcore {
    background-image: url('../backgrounds/heartcore.png');
    color: rgb(86, 79, 81);
}

.background-aim_10 {
    background-image: url('../backgrounds/aim_10.png');
    color: rgb(93, 128, 144);
}

.background-barren {
    background-image: url('../backgrounds/barren.png');
    color: rgb(196, 172, 140);
}

.background-kobra_2 {
    background-image: url('../backgrounds/kobra_2.png');
    color: rgb(182, 119, 69);
}

.background-aurora {
    background-image: url('../backgrounds/aurora.png');
    color: rgb(55, 103, 156);
}

.background-chained {
    background-image: url('../backgrounds/chained.png');
    color: rgb(183, 188, 198);
}

.background-toadsquad {
    background-image: url('../backgrounds/toadsquad.png');
    color: rgb(36, 116, 41);
}

.background-binary {
    background-image: url('../backgrounds/binary.png');
    color: rgb(96, 31, 51);
}

.background-bamboozled {
    background-image: url('../backgrounds/bamboozled.png');
    color: rgb(153, 218, 128);
}

.background-narcissistic {
    background-image: url('../backgrounds/narcissistic.png');
    color: rgb(122, 32, 43);
}

.box {
    width: 734px;
    height: 202px;
    position: absolute;
    margin: 32px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 12px;
}

.name {
    white-space: nowrap;
    width: auto;
    text-transform: none;
    padding: 0 20px;
    background-color: rgba(150, 150, 150, 0.3);
    border-radius: 30px;
    font-family: 'Roboto-Medium';
    color: white;
}

.badges {
    display: inline-block;
    height: 50px;
    margin: 16px;
    font-size: 38px;
    vertical-align: baseline;
}

.flag {
    height: 38px;
    display: inline-block;
    vertical-align: middle;
}

.badge {
    padding: 0 8px;
}

.stats {
    display: flex;
    flex-direction: row;
    margin: 0 16px;
}

.global-points {
    width: 380px;
    text-align: center;
    border-right: 3px solid white;
}

span.points {
    font-size: 48px;
    font-family: 'Roboto-Medium';
}

span.score {
    font-size: 36px;
    font-family: 'Roboto-Medium';
}

.ranks {
    width: 100%;
    height: 72px;
    margin: 16px 0;
    line-height: 36px;
    text-align: right;
}

span.type {
    color: white;
}

span.rank {
    color: white;
}

span.unranked {
    color: rgb(150, 150, 150);
}